# This is a sample Uniform project and API key; you cannot edit the data in this project.
# To use your own project, create a new project in the Uniform dashboard, choose jamstack starter kit,
# and paste the project ID and API key it gives you here instead.
UNIFORM_PROJECT_ID=
UNIFORM_API_KEY=

# "standard" for SSR or "edge" for SSG/static rendering modes. "standard" is default
OUTPUT_TYPE="standard"

# Set the Uniform Canvas > Preview URL to be http://localhost:3000?preview=true
UNIFORM_PREVIEW_SECRET=

NUXT_PUBLIC_GTAG_ID="G-XXXXXXXXXXX"