node_modules
*.log*
.nuxt
.nitro
.cache
nuxt.d.ts
.output
.env
dist
.DS_STORE
.history
.cache
.data

# Local Netlify folder
.netlify
.vercel

# Local editor
# .vscode/
*.code-workspace
.idea/

wrangler.toml
